.app-nav{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: hwb(160 65% 4%);
}
.app-sidenav{
    width: 300px;
    margin-top: 40px;
}
.app-sidenav1{
    height: 100%;
    width: 100%;
}
.vertical-line{
    width: 2px;
    height: 605px;
    background-color: silver;
}